/*GENERAL*/
html, body {
		height: 100%;
}

h1, h2, h3 {
		margin: 0;
		padding: 0;
}

/*LAYOUT*/
#Container {
		width: 1250px;
		margin: auto;
}

header {
		background-color: #286af0;
		height: 110px;
}

		header h1 {
				padding-top: 10px;
		}

section {
		float: right;
		width: 80%;
		min-height: 500px;
		background-color: #ccc;
}

aside {
		float: left;
		width: 20%;
		min-height: 500px;
}

		aside article {
				height: 100%;
				margin: 20px;
		}

				aside article div {
						margin: 20px;
						width: 90%;
						border: solid 2px red;
						padding: 20px 0px;
				}

#hubblepic img {
		margin: 50px auto 0px;
		height: 350px;
		display: block;
}

#hubblepic p {
		text-align: center;
}

footer {
		clear: both;
		color: white;
		text-decoration: underline;
		text-align: center;
		background-color: #286af0;
}

#cosmos_container {
		margin: 20px;
}

		#cosmos_container input {
				height: 23px;
				border-radius: 3px;
				border: none;
		}

		#cosmos_container label {
				font-family: arial;
		}


.btnPanel button {
		height: 30px;
		width: 150px;
		font-size: 15px;
		color: white;
		background-color: #485f66;
		border: aliceblue;
		border-radius: 3px;
}

		.btnPanel button:hover {
				background-color: #338ba6;
		}

th, td {
		border-bottom: 1px solid #ddd;
}

table, thead {
		border: 1px solid lightgoldenrodyellow;
}

a {
		text-decoration: none;
		color: black;
		margin: 30px;
		font-size: 20px;
		font-weight: 800;
}

		a:hover {
				color: red;
		}

#about {
		margin: 20px;
		font-family: calibri
}

nav ul {
		list-style: unset;
}

nav ul li {
		display: inline;
}

nav ul li a {
		color: black;
		text-decoration: none;
}

nav ul li a:active {
		color: olive;
}

nav ul li a:hover {
		color: white;
}
