<div id="about">
    <h2>Acerca De</h2>
    <br />
    <h3>1er Parcial lenguaje de programación para la adminstración</h3>
    <br />
    <p><strong>Alumno:</strong> Kowalczuk Alexis</p>
    
    <p><strong>Profesor:</strong> Victor Contreras</p>
    
    <p><strong>Fecha:</strong> 01/06/2020</p>
    
    <address>
        <strong>Mail Personal:</strong> <a href="mailto:AlexisRK5@gmail.com">AlexisRK5@gmail.com</a><br />
    </address>

</div>

